@font-face {
    font-family: 'LeagueSpartan-SemiBold';
    src: url('/assets/fonts/LeagueSpartan-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
  font-family: 'LeagueSpartan-Light';
  src: url('/assets/fonts/LeagueSpartan-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}