/* Set the font-family to chomsky like this. font-family: Chomsky, cursive; */
@font-face {
  font-family: Chomsky;
  src: url(/assets/fonts/Chomsky.otf);
}

html {
  font-size: 100%;
}

body {
  font-family: 'LeagueSpartan-light';
  background-image: radial-gradient(circle at 50% 50%, #b2b2b2, black);
}

.newspaper {
  max-width: 97vw;
  max-height: auto;
  background-color: #FFFFFD;
  background-image: url("/assets/textures/beige-paper.png");
  padding: 2vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  margin: 0;
  font-size: 140%;
}

p {
  font-family: serif;
  font-size: 16px;
  text-align: justify;
  margin: 0;
  padding: 4px 8px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: #005239;
}

header {
  margin: 22px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family: Chomsky, cursive !important;
  font-size: 92px;
}

header div:first-child {
  margin-left: 8vw;
}

header div:last-child {
  margin-right: 8vw;
}

header div {
  padding: 12px;
  border: 2px solid;
}

nav {
  padding: 1vh 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
}

section {
  display: flex;
  align-content: space-between;
  text-align: justify;
  overflow: hidden;
}

article {
  margin-top: 18px;
}

/* #side-article {
  display: flex;
  max-height: 75vh;
  flex-wrap: wrap;
  flex-direction: column;
  flex-shrink: 1;
  overflow: none;
  padding-right: .1em;
  margin-right: .1em;
  text-wrap: balance;
  column-count: 3;
  column-gap: 1.5rem;
} */

/* #side-article h3, #side-article p {
    break-inside: avoid;
} */

#side-article {
    column-count: 3;
    column-gap: 2rem;
}

#side-article * {
    width: auto;
}

/* 
#side-article *{
  width: 33%;
} */

#side-article h3{
  text-align: center;
  font-style: italic;
}

#social-media {
    display: flex;
    gap: 1rem;
}

.btn {
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

/* span { display: flex; 
       justify-content: center } */

/* #main-article{
  margin-top: 12px;
}
#main-article h2{
  text-align: center;
  margin-bottom: 10px;
  font-size: 82px;
  line-height: 80%;
}
*/

#main-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ez {
  max-width: 25vw;
  max-height: 25vw;
  width: auto;
  height: auto;
  border: .1vw solid black;
  margin: 5vh;
  filter: grayscale(1);
}

.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
